@model WorkShop.Models.Order
@{
    ViewBag.Title = "InsertPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    $(document).ready(function () {
        var CustomerID = @Html.Raw(Json.Encode(ViewBag.customerData));
        var ShipperID = @Html.Raw(Json.Encode(ViewBag.shipperData));
        var EmployeeID = @Html.Raw(Json.Encode(ViewBag.empData));
        var productData = @Html.Raw(Json.Encode(ViewBag.productData));


        $("#ShippedDate").kendoDatePicker();
        $("#RequiredDate").kendoDatePicker();
        $("#OrderDate").kendoDatePicker();

        $("#CustomerID").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            optionLabel: "請選擇",
            dataSource: CustomerID
        });

        $("#EmployeeID").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            optionLabel: "請選擇",
            dataSource: EmployeeID
        });

        $("#ShipperID").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            optionLabel: "請選擇",
            dataSource: ShipperID
        });

        $("#DropdowmListProduct0").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            change: function(e) {
                console.log(this.value());
                var item = this.value();
                var price = [];
                var array = @Html.Raw(Json.Encode(@ViewBag.UnitPrice));
                for (var i = 0;i<array.length;i++){
                    price[i] = array[i].Value;
                }
                console.log(price[item-1]);
                $("#UnitPrice0").val(price[item-1]);
                var qty = parseInt($('input[id="OrderDetails_0__Qty0"]').val());
                var total = qty * price[item-1] ;
                $('input[id="count0"]').val(total)
                Total();
            }
        });

    });






    function AddNewDetail() {
        //明細資料範本
        var trtemplate = $('#detailContent tr').eq(0).html();

        //新增一列名資料
        var count = $('#detailContent tr').length;

        var trt = trtemplate.replace('id="DropdowmListProduct0"','id="DropdowmListProduct'+count+'"');
        var trt = trt.replace('UnitPrice0','UnitPrice'+count+'');
        var trt = trt.replace('OrderDetails_0__Qty0','OrderDetails_0__Qty'+count+'');

        var trt = trt.replace("OrderDetails[0].ProductID",'OrderDetails['+count+'].ProductID');
        var trt = trt.replace("OrderDetails[0].UnitPrice",'OrderDetails['+count+'].UnitPrice');
        var trt = trt.replace("OrderDetails[0].Qty",'OrderDetails['+count+'].Qty');
        var trt = trt.replace("count0",'count'+count+'');

        console.log(trt);
        $('#detailContent').append('<tr>' + trt + '</tr>');

        $('#DropdowmListProduct'+count+'').kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            change: function(e) {
                console.log(this.value());
                var item = this.value();
                var price = [];
                var array = @Html.Raw(Json.Encode(@ViewBag.UnitPrice));
                for (var i = 0;i<array.length;i++){
                    price[i] = array[i].Value;
                }
                console.log(price[item-1]);
                $('#UnitPrice'+count+'').val(price[item-1]);
                var qty = parseInt($('input[id="OrderDetails_0__Qty'+count+'"]').val());
                var total = qty * price[item-1] ;
                $('input[id="count'+count+'"]').val(total)
                Total();
            }
        });
        debugger;

        //移除TR
        $('#detailContent').on("click", "#btnRemove", function () {
            $(this).closest('tr').remove();
        });




    }

    function ChangeList(count){
  
        var qty = parseInt($('input[id="count'+count+'"]').val());
        var count = unitprice * qty;
    }

    function GetPrice(item) {
        var price = [];
        var array = @Html.Raw(Json.Encode(@ViewBag.UnitPrice));

        for (var i = 0;i<array.length;i++){
            price[i] = array[i].Value;
        }
        $(item).parent().next('td').children().val(price[item.value-1]);
    }

    function Count(item){
        var unitprice = $(item).parent().prev('td').children().val();
        var qty = $(item).closest("input:text").val();
        var count = unitprice * qty;
        $(item).parent().next('td').children().val(count);
        Total(count);
    }


    function ChangePrice(item){
        var unitprice = $(item).closest("input:text").val();
        var qty = $(item).parent().next('td').children().val();
        var total = unitprice * qty;

        $(item).parent().next('td').next('td').children().val(total);
    }

    function Total(count){
        var countArray = [];
        var total = 0;
        for(var i=0;i<$('#detailContent tr').length;i++){
            a = parseInt($('input[id="count'+i+'"]').val());
            
            debugger;
  
            total += a;
        }

        document.getElementById("total").innerHTML = total;
    }

</script>
<!-- Insert Order -->
<div class="insertOrder">
    <h3>新增訂單</h3>
    @using (Html.BeginForm("DoInsert", "Order", FormMethod.Post, new { @id = "insertForm" }))
    {
        @Html.AntiForgeryToken()
        <table class="table table-bordered">
            <tr>
                <td>
                    @Html.LabelFor(model => model.CustomerName)
                </td>
                <td colspan="4">
                    @Html.DropDownListFor(model => model.CustomerID, (List<SelectListItem>)ViewBag.customerData, string.Empty)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.EmployeeName)
                </td>
                <td colspan="4">
                    @Html.DropDownListFor(model => model.EmployeeID, (List<SelectListItem>)ViewBag.empData, string.Empty)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.OrderDate)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.OrderDate, new { @type = "date" })
                </td>
                <td>
                    @Html.LabelFor(model => model.RequiredDate)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.RequiredDate, new { @type = "date" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ShippedDate)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ShippedDate, new { @type = "date" })
                </td>
                <td>
                    @Html.LabelFor(model => model.ShipperName)
                </td>
                <td colspan="4">
                    @Html.DropDownListFor(model => model.ShipperID, (List<SelectListItem>)ViewBag.shipperData, string.Empty)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Freight)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Freight, new { @class = "k-textbox" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ShipCountry)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ShipCountry, new { @class = "k-textbox" })
                </td>
                <td>
                    @Html.LabelFor(model => model.ShipCity)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ShipCity, new { @class = "k-textbox" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ShipRegion)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ShipRegion, new { @class = "k-textbox" })
                </td>
                <td>
                    @Html.LabelFor(model => model.ShipPostalCode)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ShipPostalCode, new { @class = "k-textbox" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ShipAddress)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ShipAddress, new { @class = "k-textbox" })
                </td>
                <td>
                    @Html.LabelFor(model => model.ShipName)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ShipName, new { @class = "k-textbox" })
                </td>
            </tr>
            <tr>
                <td>訂單金額總計</td>
                <td id="total" colspan="4"></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="4">
                    <input type="submit" value="存檔" class="k-button">
                    <input type="button" onclick="location.href='./Index';" value="回前一頁" class="k-button" />
                </td>
            </tr>
        </table>

        <a onclick="AddNewDetail()" href="#">新增一筆</a>
        <table class="table table-bordered">
            <tr>
                <td>商品</td>
                <td>單價</td>
                <td>數量</td>
                <td>小計</td>
                <td></td>
            </tr>
            <tbody id="detailContent">
                @for (int i = 0; i < 1; i++)
                {
                    <tr>
                        <td>@Html.DropDownListFor(model => Model.OrderDetails[i].ProductID, (List<SelectListItem>)ViewBag.productData, "請選擇", new { @id = "DropdowmListProduct0" })</td>
                        <td>@Html.TextBoxFor(model => Model.OrderDetails[i].UnitPrice, new { @class = "k-textbox", @id = "UnitPrice0", onchange = "ChangePrice(this)" })</td>
                        <td>@Html.TextBoxFor(model => Model.OrderDetails[i].Qty, new { @class = "k-textbox",id= "OrderDetails_0__Qty0", onchange = "Count(this)" })</td>
                        <td id="count" ><input type="text" id="count0" readonly  ></td>
                        <td><button type="button" class="k-button" id="btnRemove">取消</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
